<div class="row">
    <div class="col-3">
        <img src="img/logo.png" />
    </div>
    <div class="menubar col-9">
        <ul class="nav">
            <li class="nav-item menu_element">
                <a href="/">Главная</a>
            </li>
            <li class="nav-item menu_element">
                <a href="/advlist">Объявления</a>
            </li>
            <li class="nav-item menu_element">
                <a href="/addadv">Добавить</a>
            </li>
            <li class="nav-item menu_element">
                <a href="/about">О компании</a>
            </li>
        </ul>
    </div>
</div>

@code {

}
