@page "/about"

    <div class="row">
        <div class="col-4">
            <div class="main_message">
                <h3>Информация о компании</h3>
                <p>Vacancies — это лучшие предложения высокооплачиваемой работы от российских и зарубежных компаний.</p>
                <p>Адрес: Минск, ул. Московская, 38</p>
                <p>Телефон: +375 77 858 58 58</p>
                <p>Email: vakansiy_dla_tebya_net.by</p>

            </div>
        </div>
    </div>
    

    @code {

    }
