@page "/about"

    <div class="row">
        <div class="col-4">
            <div class="main_message">
                <h3>Информация о компании</h3>
                <p>Компания на рынке уже 26 лет.</p>
                <p>Телефон: +375 77 858 58 58</p>
                <p>Email: sinimi_paltsami_26_let@belorussiya.by</p>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-5">
            <div class="second_message">
                <h2>Форма обратной связи:</h2>
            </div>
        </div>
    </div>

    @code {

    }
