@page "/addadv"
@inject HttpClient Http
@inject NavigationManager NavManager

@using Newtonsoft.Json

<div class="workblock">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>Добавить вакансию</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <form>
                <div class="form-group row">
                    <label for="id" class="col-sm-3 col-form-label">ID</label>

                    <div class="col-sm-9">
                        <input @bind="adv.id" type="text" readonly class="form-control-plaintext" id="id" />
                    </div>

                </div>

                <div class="form-group row">
                    <label for="name" class="col-sm-3 col-form-label">Наименование вакансии</label>

                    <div class="col-sm-9">
                        <input @bind="name" type="text" class="form-control" id="name" required />
                    </div>

                </div>

                <div class="form-group row">
                    <label for="phone" class="col-sm-3 col-form-label">Номер телефона компании</label>

                    <div class="col-sm-9">
                        <input @bind="adv.phoneNumber" type="text" class="form-control" id="phone" required />
                    </div>

                </div>
                      

                <div class="form-group row">
                    <label for="price-usd" class="col-sm-3 col-form-label">Зарплата в USD</label>
                    <div class="col-sm-9">
                        <input @bind="adv.salaryusd" type="text" class="form-control" id="price-usd" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="rate" class="col-sm-3 col-form-label">Курс</label>
                    <div class="col-sm-9">
                        <input @bind="course.Course" type="text" class="form-control" id="rate" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="price-byn" class="col-sm-3 col-form-label">Зарплата в BYN</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control" id="price-byn" value="@getsalarybyn()" />
                    </div>
                </div>

                <button @onclick="submitForm" class="btn btn-primary" type="submit">Отправить</button>

            </form>
        </div>

    </div>
</div>

@code {

    Advertisement adv;
    String name;

    CurrencyCourse course;

    protected override async Task OnInitializedAsync()
    {
        course = new CurrencyCourse();

        var response = await Http.GetStringAsync("http://127.0.0.1:3000/getcourse");
        course = JsonConvert.DeserializeObject<CurrencyCourse>(response);
       // Console.WriteLine(response);
        adv.courseOfUSD = course.Course;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        adv = new Advertisement();
    }

    private float getsalarybyn()
    {
        adv.salarybyn = adv.salaryusd * course.Course;
        return adv.salarybyn;
    }

    protected async Task submitForm()
    {
        
        await Http.PostAsJsonAsync<Advertisement>("http://localhost:50001/api/Advertisement/addAdvertisement", adv);
        // NavManager.NavigateTo("/advlist");
    }


}
