@page "/addadv"
@inject HttpClient Http
@inject NavigationManager NavManager

@using Newtonsoft.Json

<div class="workblock">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h2>Добавить объявление</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-6">
            <form>
                <div class="form-group row">
                    <label for="id" class="col-sm-3 col-form-label">ID</label>

                    <div class="col-sm-9">
                        <input @bind="adv.id" type="text" readonly class="form-control-plaintext" id="id" />
                    </div>

                </div>

                <div class="form-group row">
                    <label for="fnlnp" class="col-sm-3 col-form-label">ФИО</label>

                    <div class="col-sm-9">
                        <input @bind="fnlnp" type="text" class="form-control" id="fnlnp" required />
                    </div>

                </div>

                <div class="form-group row">
                    <label for="phone" class="col-sm-3 col-form-label">Телефон</label>

                    <div class="col-sm-9">
                        <input @bind="adv.phoneNumber" type="text" class="form-control" id="phone" required />
                    </div>

                </div>

                <div class="form-group row">
                    <label for="email" class="col-sm-3 col-form-label">Email</label>

                    <div class="col-sm-9">
                        <input @bind="adv.email" type="text" class="form-control" id="email" required />
                    </div>

                </div>

                <div class="form-group row">
                    <label for="content" class="col-sm-3 col-form-label">Текст объявления</label>

                    <div class="col-sm-9">
                        <textarea @bind="adv.advText" type="textarea" class="form-control" id="contnent"
                                  placeholder="Напишите текст объявления" required />
                    </div>

                </div>

                <div class="form-group row">
                    <label for="age" class="col-sm-3 col-form-label">Возраст</label>
                    <div class="col-sm-9">
                        <input @bind="adv.age" type="text" class="form-control" id="age" placeholder="18" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="price-usd" class="col-sm-3 col-form-label">Цена USD</label>
                    <div class="col-sm-9">
                        <input @bind="adv.priceUSD" type="text" class="form-control" id="price-usd" required />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="rate" class="col-sm-3 col-form-label">Курс</label>
                    <div class="col-sm-9">
                        <input @bind="course.Course" type="text" class="form-control" id="rate" />
                    </div>
                </div>

                <div class="form-group row">
                    <label for="price-byn" class="col-sm-3 col-form-label">Цена в BYN</label>
                    <div class="col-sm-9">
                        <input type="text" readonly class="form-control" id="price-byn" value="@getPriceBYN()" />
                    </div>
                </div>

                <button @onclick="submitForm" class="btn btn-primary" type="submit">Отправить</button>

            </form>
        </div>

    </div>
</div>

@code {

    Advertisement adv;
    String fnlnp;

    CurrencyCourse course;

    protected override async Task OnInitializedAsync()
    {
        course = new CurrencyCourse();

        var response = await Http.GetStringAsync("http://127.0.0.1:3000/getcourse");
        course = JsonConvert.DeserializeObject<CurrencyCourse>(response);
        adv.courseOfUSD = course.Course;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        adv = new Advertisement();
    }

    private float getPriceBYN()
    {
        adv.priceBYN = adv.priceUSD * course.Course;
        return adv.priceBYN;
    }

    protected async Task submitForm()
    {
        string[] words = fnlnp.Split(' ');

        adv.firstName = words[0];
        adv.lastName = words[1];
        adv.patronimic = words[2];

        await Http.PostAsJsonAsync<Advertisement>("http://localhost:50001/api/Advertisement/addAdvertisement", adv);
        // NavManager.NavigateTo("/advlist");
    }


}
