@page "/"

<div class="row">
    <div class="col-4">
        <div class="main_message">
            <h1>Добро пожаловать в базу данных вакансий.</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="second_message">
            <h2>Для добавления вакансии перейдите в раздел “Добавить вакансию”».</h2>
        </div>
    </div>
</div>
