@page "/"

<div class="row">
    <div class="col-4">
        <div class="main_message">
            <h1>Добро пожаловать на сайт бесплатных объявлений</h1>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-5">
        <div class="second_message">
            <h2>Для добавления объявления перейдите в раздел “Добавить объявление”</h2>
        </div>
    </div>
</div>
